/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth color transitions when switching themes */
html {
  @apply transition-colors duration-300;
}

/* Improve font rendering */
body {
  @apply antialiased;
  font-family: Arial, Helvetica, sans-serif;
}
